In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import keras
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from keras.layers import BatchNormalization

In [4]:
df_train = pd.read_csv('dataset/train.csv')
df_test = pd.read_csv('dataset/test.csv')

In [5]:
df_train.head()

,layer_1,layer_2,layer_3,layer_4,0,1,2,3,4,5,...,216,217,218,219,220,221,222,223,224,225
0,10,10,10,10,0.254551,0.258823,0.254659,0.252085,0.247678,0.253614,...,0.354750,0.369223,0.388184,0.408496,0.414564,0.429403,0.419225,0.443250,0.433414,0.465502
1,10,10,10,20,0.205062,0.225544,0.217758,0.202169,0.199633,0.207380,...,0.557203,0.573656,0.587998,0.612754,0.627825,0.633393,0.637706,0.625981,0.653231,0.637853
2,10,10,10,30,0.189196,0.165869,0.177655,0.156822,0.175094,0.177755,...,0.699864,0.708688,0.721982,0.713464,0.743030,0.741709,0.747743,0.746037,0.737356,0.750391
3,10,10,10,40,0.131003,0.120076,0.138975,0.117931,0.130566,0.131262,...,0.764786,0.763788,0.770017,0.787571,0.778866,0.776969,0.774712,0.801526,0.805305,0.784057
4,10,10,10,50,0.091033,0.086893,0.108125,0.080405,0.105917,0.077083,...,0.786677,0.802271,0.806557,0.799614,0.789333,0.804087,0.787763,0.794948,0.819105,0.801781

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810000 entries, 0 to 809999
Columns: 230 entries, layer_1 to 225
dtypes: float64(226), int64(4)
memory usage: 1.4 GB

In [7]:
df_train.describe()

,layer_1,layer_2,layer_3,layer_4,0,1,2,3,4,5,...,216,217,218,219,220,221,222,223,224,225
count,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,...,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000
mean,155.000000,155.000000,155.000000,155.000000,0.292653,0.292893,0.293125,0.293363,0.293666,0.293994,...,0.600336,0.606206,0.612238,0.618456,0.623942,0.625395,0.627100,0.628997,0.631166,0.633594
std,86.554468,86.554468,86.554468,86.554468,0.181642,0.181857,0.182055,0.182197,0.182361,0.182529,...,0.199727,0.198644,0.197473,0.196177,0.195028,0.194909,0.194730,0.194493,0.194146,0.193725
min,10.000000,10.000000,10.000000,10.000000,-0.014902,-0.014798,-0.014897,-0.014709,-0.014903,-0.014662,...,-0.011992,-0.008661,-0.011430,-0.009827,-0.007632,-0.007411,-0.007073,-0.007101,-0.005519,-0.006074
25%,80.000000,80.000000,80.000000,80.000000,0.135139,0.135180,0.135258,0.135478,0.135585,0.135705,...,0.469345,0.476970,0.484727,0.492739,0.500232,0.501650,0.503811,0.506252,0.509036,0.512067
50%,155.000000,155.000000,155.000000,155.000000,0.286510,0.286874,0.287194,0.287553,0.287830,0.288151,...,0.643685,0.649886,0.656258,0.662860,0.668727,0.670287,0.672145,0.674283,0.676692,0.679339
75%,230.000000,230.000000,230.000000,230.000000,0.435696,0.435956,0.436112,0.436326,0.436634,0.437142,...,0.760737,0.765462,0.770333,0.775263,0.779555,0.780846,0.782387,0.783979,0.785774,0.787759
max,300.000000,300.000000,300.000000,300.000000,0.748205,0.753103,0.749494,0.747389,0.748827,0.750392,...,0.935423,0.934867,0.938873,0.937817,0.942214,0.940367,0.940387,0.941548,0.942411,0.943648

In [8]:
df_train.isnull().sum()

layer_1    0
layer_2    0
layer_3    0
layer_4    0
0          0
          ..
221        0
222        0
223        0
224        0
225        0
Length: 230, dtype: int64

In [9]:
null_count = df_train.isnull().sum()

In [10]:
counts = 0
for i in null_count:
    if i != 0:
        counts += 1
print(counts)

0

In [11]:
df_test.head()

,id,0,1,2,3,4,5,6,7,8,...,216,217,218,219,220,221,222,223,224,225
0,0,0.535410,0.520775,0.494087,0.465134,0.430339,0.401751,0.355986,0.326427,0.282340,...,0.748339,0.757575,0.768130,0.777062,0.769173,0.768253,0.738704,0.739460,0.702139,0.702238
1,1,0.351099,0.398179,0.413809,0.418529,0.433257,0.455410,0.451065,0.464230,0.476011,...,0.333931,0.276307,0.211513,0.159223,0.110982,0.083130,0.099780,0.145420,0.260501,0.343857
2,2,0.490537,0.435958,0.413428,0.355796,0.335777,0.299944,0.242745,0.210555,0.180739,...,0.709371,0.746826,0.781436,0.788292,0.828630,0.835166,0.845859,0.846032,0.836724,0.846779
3,3,0.051634,0.075802,0.133983,0.154546,0.209387,0.251700,0.287552,0.333000,0.340617,...,0.075046,0.056651,0.079884,0.147469,0.213112,0.298096,0.382823,0.489381,0.562383,0.599247
4,4,0.154031,0.201728,0.270414,0.283799,0.343050,0.340233,0.379244,0.378511,0.373017,...,0.255070,0.242396,0.271287,0.328828,0.397950,0.486436,0.530573,0.582752,0.637296,0.637238

In [12]:
null_count = df_test.isnull().sum()

In [13]:
counts = 0
for i in null_count:
    if i != 0:
        counts += 1
print(counts)

0

In [14]:
df_total = pd.concat((df_train, df_test), ignore_index=True)
df_total.head()

C:\Users\mycom\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,0,1,10,100,101,102,103,104,105,106,...,95,96,97,98,99,id,layer_1,layer_2,layer_3,layer_4
0,0.254551,0.258823,0.253870,0.164719,0.151643,0.164846,0.170996,0.148866,0.158070,0.157883,...,0.153949,0.165214,0.147266,0.170829,0.145234,NaN,10.0,10.0,10.0,10.0
1,0.205062,0.225544,0.198726,0.081874,0.069062,0.071412,0.065123,0.082904,0.060860,0.079682,...,0.066174,0.072723,0.070791,0.075919,0.082080,NaN,10.0,10.0,10.0,20.0
2,0.189196,0.165869,0.148831,0.066248,0.049662,0.055313,0.062557,0.070852,0.080750,0.074811,...,0.049527,0.064183,0.044467,0.056002,0.059647,NaN,10.0,10.0,10.0,30.0
3,0.131003,0.120076,0.099958,0.117332,0.133968,0.137508,0.120664,0.126985,0.136193,0.134217,...,0.098705,0.103562,0.115785,0.121671,0.104612,NaN,10.0,10.0,10.0,40.0
4,0.091033,0.086893,0.086023,0.214727,0.242656,0.237504,0.229492,0.241289,0.252776,0.246082,...,0.200239,0.185882,0.216706,0.211741,0.202940,NaN,10.0,10.0,10.0,50.0

In [15]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820000 entries, 0 to 819999
Columns: 231 entries, 0 to layer_4
dtypes: float64(231)
memory usage: 1.4 GB

# baseline code

* 4 layers
* 160 units, relu
* Adam
* epochs 20
* batch_size 10000

In [16]:
# 독립변수와 종속변수를 분리합니다.

train_X = df_train.iloc[:,4:]
train_Y = df_train.iloc[:,0:4]
test_X = df_test.iloc[:,1:]

In [17]:
# 케라스를 통해 모델 생성을 시작합니다.

model = Sequential()
model.add(Dense(units=160, activation='relu', input_dim=226))
model.add(Dense(units=160, activation='relu'))
model.add(Dense(units=160, activation='relu'))
model.add(Dense(units=4, activation='linear'))

WARNING:tensorflow:From C:\Users\mycom\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\mycom\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\mycom\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [18]:
# 모델을 컴파일합니다.

model.compile(loss='mae', optimizer='adam', metrics=['mae'])

WARNING:tensorflow:From C:\Users\mycom\Anaconda3\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [19]:
# 모델을 학습합니다.

model.fit(train_X, train_Y, epochs=20, batch_size=10000, validation_split=0.05)

WARNING:tensorflow:From C:\Users\mycom\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From C:\Users\mycom\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From C:\Users\mycom\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:2741: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 769500 samples, validate on 40500 samples
Epoch 1/20
WARNING:tensorflow:From C:\Users\mycom\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From C:\Users\mycom\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From C:\Users\mycom\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:190: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From C:\Users\mycom\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:199: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From C:\Users\mycom\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:206: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

769500/769500 [==============================] - 9s 12us/step - loss: 95.5491 - mean_absolute_error: 95.5491 - val_loss: 95.7871 - val_mean_absolute_error: 95.7871
Epoch 2/20
769500/769500 [==============================] - 8s 10us/step - loss: 74.7927 - mean_absolute_error: 74.7927 - val_loss: 94.0377 - val_mean_absolute_error: 94.0377
Epoch 3/20
769500/769500 [==============================] - 8s 10us/step - loss: 74.0612 - mean_absolute_error: 74.0612 - val_loss: 93.3356 - val_mean_absolute_error: 93.3356
Epoch 4/20
769500/769500 [==============================] - 7s 10us/step - loss: 72.7184 - mean_absolute_error: 72.7184 - val_loss: 92.9596 - val_mean_absolute_error: 92.9596
Epoch 5/20
769500/769500 [==============================] - 7s 10us/step - loss: 71.0207 - mean_absolute_error: 71.0207 - val_loss: 92.3258 - val_mean_absolute_error: 92.3258
Epoch 6/20
769500/769500 [==============================] - 7s 9us/step - loss: 68.7055 - mean_absolute_error: 68.7055 - val_loss: 89.4944 - val_mean_absolute_error: 89.4944
Epoch 7/20
769500/769500 [==============================] - 7s 10us/step - loss: 65.1853 - mean_absolute_error: 65.1853 - val_loss: 85.4870 - val_mean_absolute_error: 85.4870
Epoch 8/20
769500/769500 [==============================] - 8s 10us/step - loss: 62.3449 - mean_absolute_error: 62.3449 - val_loss: 80.8653 - val_mean_absolute_error: 80.8653
Epoch 9/20
769500/769500 [==============================] - 8s 10us/step - loss: 60.5015 - mean_absolute_error: 60.5015 - val_loss: 78.9939 - val_mean_absolute_error: 78.9939
Epoch 10/20
769500/769500 [==============================] - 7s 10us/step - loss: 59.4042 - mean_absolute_error: 59.4042 - val_loss: 77.4015 - val_mean_absolute_error: 77.4015
Epoch 11/20
769500/769500 [==============================] - 8s 10us/step - loss: 58.3407 - mean_absolute_error: 58.3407 - val_loss: 76.7934 - val_mean_absolute_error: 76.7934
Epoch 12/20
769500/769500 [==============================] - 8s 10us/step - loss: 57.1832 - mean_absolute_error: 57.1832 - val_loss: 74.5621 - val_mean_absolute_error: 74.5621
Epoch 13/20
769500/769500 [==============================] - 8s 10us/step - loss: 56.1043 - mean_absolute_error: 56.1043 - val_loss: 74.7520 - val_mean_absolute_error: 74.7520
Epoch 14/20
769500/769500 [==============================] - 8s 10us/step - loss: 55.1626 - mean_absolute_error: 55.1626 - val_loss: 73.2317 - val_mean_absolute_error: 73.2317
Epoch 15/20
769500/769500 [==============================] - 8s 10us/step - loss: 54.4181 - mean_absolute_error: 54.4181 - val_loss: 72.0541 - val_mean_absolute_error: 72.0541
Epoch 16/20
769500/769500 [==============================] - 7s 10us/step - loss: 53.7271 - mean_absolute_error: 53.7271 - val_loss: 72.9197 - val_mean_absolute_error: 72.9197
Epoch 17/20
769500/769500 [==============================] - 7s 10us/step - loss: 53.1015 - mean_absolute_error: 53.1015 - val_loss: 73.3182 - val_mean_absolute_error: 73.3182
Epoch 18/20
769500/769500 [==============================] - 7s 10us/step - loss: 52.4397 - mean_absolute_error: 52.4397 - val_loss: 71.2673 - val_mean_absolute_error: 71.2673
Epoch 19/20
769500/769500 [==============================] - 8s 10us/step - loss: 51.8241 - mean_absolute_error: 51.8241 - val_loss: 69.2980 - val_mean_absolute_error: 69.2980
Epoch 20/20
769500/769500 [==============================] - 7s 10us/step - loss: 51.2447 - mean_absolute_error: 51.2447 - val_loss: 67.0328 - val_mean_absolute_error: 67.0328

In [20]:
# 예측값을 생성합니다.

pred_test = model.predict(test_X)

In [21]:
# submission 파일을 생성합니다.
sample_sub = pd.read_csv('dataset/sample_submission.csv', index_col=0)
submission = sample_sub+pred_test
submission.to_csv('submission_sample.csv')

# Model 1

* 5 layers
* 160 units, he_normal, relu
* BatchNormalization
* Adam(0.001)
* epochs 50
* batch_size 1000
<br><br>
* layer를 늘리고, 초기값을 relu 함수에 적합하게 지정
* epochs는 늘리고 batch_size는 줄여서 가중치 업데이트량을 증가시킴
* BatchNormalization을 사용하면 초깃값에 크게 의존하지 않아도 된다는 것을 경험적으로 도출해 냄

In [40]:
# 케라스를 통해 모델 생성을 시작합니다.

model_t1 = Sequential()
model_t1.add(Dense(units=160, input_dim=226, kernel_initializer='he_normal'))
model_t1.add(BatchNormalization())
model_t1.add(Activation('relu'))
model_t1.add(Dense(units=160, kernel_initializer='he_normal'))
model_t1.add(BatchNormalization())
model_t1.add(Activation('relu'))
model_t1.add(Dense(units=160, kernel_initializer='he_normal'))
model_t1.add(BatchNormalization())
model_t1.add(Activation('relu'))
model_t1.add(Dense(units=160, kernel_initializer='he_normal'))
model_t1.add(BatchNormalization())
model_t1.add(Activation('relu'))
model_t1.add(Dense(units=4, activation='linear'))

adam = keras.optimizers.Adam(0.001)
model_t1.compile(loss='mae', optimizer=adam, metrics=['mae'])

model_t1.fit(train_X, train_Y, epochs=50, batch_size=1000, validation_split=0.05)

Train on 769500 samples, validate on 40500 samples
Epoch 1/50
769500/769500 [==============================] - 33s 43us/step - loss: 96.6221 - mean_absolute_error: 96.6221 - val_loss: 86.5284 - val_mean_absolute_error: 86.5284
Epoch 2/50
769500/769500 [==============================] - 29s 37us/step - loss: 42.1786 - mean_absolute_error: 42.1786 - val_loss: 51.1346 - val_mean_absolute_error: 51.1346
Epoch 3/50
769500/769500 [==============================] - 29s 37us/step - loss: 27.5136 - mean_absolute_error: 27.5136 - val_loss: 44.1087 - val_mean_absolute_error: 44.1087
Epoch 4/50
769500/769500 [==============================] - 29s 37us/step - loss: 22.9381 - mean_absolute_error: 22.9381 - val_loss: 38.9246 - val_mean_absolute_error: 38.9246
Epoch 5/50
769500/769500 [==============================] - 29s 38us/step - loss: 20.7333 - mean_absolute_error: 20.7333 - val_loss: 38.5501 - val_mean_absolute_error: 38.5501
Epoch 6/50
769500/769500 [==============================] - 29s 38us/step - loss: 19.2473 - mean_absolute_error: 19.2473 - val_loss: 35.1719 - val_mean_absolute_error: 35.1719
Epoch 7/50
769500/769500 [==============================] - 29s 38us/step - loss: 18.1181 - mean_absolute_error: 18.1181 - val_loss: 36.6707 - val_mean_absolute_error: 36.6707
Epoch 8/50
769500/769500 [==============================] - 29s 37us/step - loss: 17.2358 - mean_absolute_error: 17.2358 - val_loss: 34.9288 - val_mean_absolute_error: 34.9288
Epoch 9/50
769500/769500 [==============================] - 29s 38us/step - loss: 16.4369 - mean_absolute_error: 16.4369 - val_loss: 33.9064 - val_mean_absolute_error: 33.9064
Epoch 10/50
769500/769500 [==============================] - 29s 38us/step - loss: 15.8228 - mean_absolute_error: 15.8228 - val_loss: 35.8656 - val_mean_absolute_error: 35.8656
Epoch 11/50
769500/769500 [==============================] - 30s 38us/step - loss: 15.2547 - mean_absolute_error: 15.2547 - val_loss: 33.6960 - val_mean_absolute_error: 33.6960
Epoch 12/50
769500/769500 [==============================] - 30s 38us/step - loss: 14.7302 - mean_absolute_error: 14.7302 - val_loss: 32.2248 - val_mean_absolute_error: 32.2248
Epoch 13/50
769500/769500 [==============================] - 30s 39us/step - loss: 14.3080 - mean_absolute_error: 14.3080 - val_loss: 33.7754 - val_mean_absolute_error: 33.7754
Epoch 14/50
769500/769500 [==============================] - 30s 39us/step - loss: 13.8776 - mean_absolute_error: 13.8776 - val_loss: 31.7686 - val_mean_absolute_error: 31.7686
Epoch 15/50
769500/769500 [==============================] - 30s 39us/step - loss: 13.5673 - mean_absolute_error: 13.5673 - val_loss: 33.5919 - val_mean_absolute_error: 33.5919
Epoch 16/50
769500/769500 [==============================] - 31s 40us/step - loss: 13.1849 - mean_absolute_error: 13.1849 - val_loss: 31.0750 - val_mean_absolute_error: 31.0750
Epoch 17/50
769500/769500 [==============================] - 32s 42us/step - loss: 12.9368 - mean_absolute_error: 12.9368 - val_loss: 32.7367 - val_mean_absolute_error: 32.7367
Epoch 18/50
769500/769500 [==============================] - 30s 39us/step - loss: 12.6370 - mean_absolute_error: 12.6370 - val_loss: 31.1765 - val_mean_absolute_error: 31.1765
Epoch 19/50
769500/769500 [==============================] - 31s 40us/step - loss: 12.3728 - mean_absolute_error: 12.3728 - val_loss: 30.8736 - val_mean_absolute_error: 30.8736
Epoch 20/50
769500/769500 [==============================] - 32s 42us/step - loss: 12.1517 - mean_absolute_error: 12.1517 - val_loss: 28.6811 - val_mean_absolute_error: 28.6811
Epoch 21/50
769500/769500 [==============================] - 35s 45us/step - loss: 11.9687 - mean_absolute_error: 11.9687 - val_loss: 29.7278 - val_mean_absolute_error: 29.7278
Epoch 22/50
769500/769500 [==============================] - 32s 42us/step - loss: 11.7370 - mean_absolute_error: 11.7370 - val_loss: 29.8618 - val_mean_absolute_error: 29.8618
Epoch 23/50
769500/769500 [==============================] - 34s 44us/step - loss: 11.5647 - mean_absolute_error: 11.5647 - val_loss: 29.2643 - val_mean_absolute_error: 29.2643
Epoch 24/50
769500/769500 [==============================] - 34s 44us/step - loss: 11.3961 - mean_absolute_error: 11.3961 - val_loss: 29.4471 - val_mean_absolute_error: 29.4471
Epoch 25/50
769500/769500 [==============================] - 34s 45us/step - loss: 11.2423 - mean_absolute_error: 11.2423 - val_loss: 28.0151 - val_mean_absolute_error: 28.0151
Epoch 26/50
769500/769500 [==============================] - 34s 44us/step - loss: 11.0798 - mean_absolute_error: 11.0798 - val_loss: 28.6604 - val_mean_absolute_error: 28.6604
Epoch 27/50
769500/769500 [==============================] - 33s 43us/step - loss: 10.9352 - mean_absolute_error: 10.9352 - val_loss: 28.1819 - val_mean_absolute_error: 28.1819
Epoch 28/50
769500/769500 [==============================] - 35s 45us/step - loss: 10.8280 - mean_absolute_error: 10.8280 - val_loss: 30.0372 - val_mean_absolute_error: 30.0372
Epoch 29/50
769500/769500 [==============================] - 40s 52us/step - loss: 10.6928 - mean_absolute_error: 10.6928 - val_loss: 28.7309 - val_mean_absolute_error: 28.7309
Epoch 30/50
769500/769500 [==============================] - 39s 51us/step - loss: 10.5748 - mean_absolute_error: 10.5748 - val_loss: 27.7046 - val_mean_absolute_error: 27.7046
Epoch 31/50
769500/769500 [==============================] - 39s 51us/step - loss: 10.4863 - mean_absolute_error: 10.4863 - val_loss: 28.3798 - val_mean_absolute_error: 28.3798
Epoch 32/50
769500/769500 [==============================] - 35s 45us/step - loss: 10.3643 - mean_absolute_error: 10.3643 - val_loss: 27.6470 - val_mean_absolute_error: 27.6470
Epoch 33/50
769500/769500 [==============================] - 36s 47us/step - loss: 10.2418 - mean_absolute_error: 10.2418 - val_loss: 28.3808 - val_mean_absolute_error: 28.3808
Epoch 34/50
769500/769500 [==============================] - 36s 47us/step - loss: 10.1542 - mean_absolute_error: 10.1542 - val_loss: 26.8548 - val_mean_absolute_error: 26.8548
Epoch 35/50
769500/769500 [==============================] - 36s 47us/step - loss: 10.0984 - mean_absolute_error: 10.0984 - val_loss: 28.9126 - val_mean_absolute_error: 28.9126
Epoch 36/50
769500/769500 [==============================] - 36s 47us/step - loss: 9.9925 - mean_absolute_error: 9.9925 - val_loss: 27.9053 - val_mean_absolute_error: 27.9053
Epoch 37/50
769500/769500 [==============================] - 36s 46us/step - loss: 9.8974 - mean_absolute_error: 9.8974 - val_loss: 27.9615 - val_mean_absolute_error: 27.9615
Epoch 38/50
769500/769500 [==============================] - 38s 49us/step - loss: 9.8346 - mean_absolute_error: 9.8346 - val_loss: 27.0236 - val_mean_absolute_error: 27.0236
Epoch 39/50
769500/769500 [==============================] - 38s 49us/step - loss: 9.7251 - mean_absolute_error: 9.7251 - val_loss: 27.2348 - val_mean_absolute_error: 27.2348
Epoch 40/50
769500/769500 [==============================] - 37s 49us/step - loss: 9.6665 - mean_absolute_error: 9.6665 - val_loss: 28.4640 - val_mean_absolute_error: 28.4640
Epoch 41/50
769500/769500 [==============================] - 38s 49us/step - loss: 9.6244 - mean_absolute_error: 9.6244 - val_loss: 26.3371 - val_mean_absolute_error: 26.3371
Epoch 42/50
769500/769500 [==============================] - 39s 51us/step - loss: 9.5379 - mean_absolute_error: 9.5379 - val_loss: 25.7155 - val_mean_absolute_error: 25.7155
Epoch 43/50
769500/769500 [==============================] - 39s 51us/step - loss: 9.4924 - mean_absolute_error: 9.4924 - val_loss: 26.3539 - val_mean_absolute_error: 26.3539
Epoch 44/50
769500/769500 [==============================] - 41s 53us/step - loss: 9.4157 - mean_absolute_error: 9.4157 - val_loss: 27.9654 - val_mean_absolute_error: 27.9654
Epoch 45/50
769500/769500 [==============================] - 40s 53us/step - loss: 9.3689 - mean_absolute_error: 9.3689 - val_loss: 26.0254 - val_mean_absolute_error: 26.0254
Epoch 46/50
769500/769500 [==============================] - 42s 55us/step - loss: 9.2945 - mean_absolute_error: 9.2945 - val_loss: 25.9428 - val_mean_absolute_error: 25.9428
Epoch 47/50
769500/769500 [==============================] - 40s 53us/step - loss: 9.2388 - mean_absolute_error: 9.2388 - val_loss: 25.5840 - val_mean_absolute_error: 25.5840
Epoch 48/50
769500/769500 [==============================] - 40s 52us/step - loss: 9.1544 - mean_absolute_error: 9.1544 - val_loss: 27.6552 - val_mean_absolute_error: 27.6552
Epoch 49/50
769500/769500 [==============================] - 41s 54us/step - loss: 9.1388 - mean_absolute_error: 9.1388 - val_loss: 24.8437 - val_mean_absolute_error: 24.8437
Epoch 50/50
769500/769500 [==============================] - 42s 54us/step - loss: 9.0836 - mean_absolute_error: 9.0836 - val_loss: 27.9688 - val_mean_absolute_error: 27.9688

In [41]:
# 예측값을 생성합니다.

pred_test_1 = model_t1.predict(test_X)

In [42]:
# submission 파일을 생성합니다.
sample_sub = pd.read_csv('dataset/sample_submission.csv', index_col=0)
submission = sample_sub+pred_test_1
submission.to_csv('submission_01.csv')